<% content_for :section_css do %>
	<%= stylesheet_link_tag "iphone-section", :media => "only screen and (max-device-width: 480px)", :cache => false  %>
<% end %>

<% content_for :script do %>
var todoLists = {
		permalinkHash: '<%= @list.list_hash %>',
		active: [
		<% @list.list_items.where(:status => "active").each do |i| %>
			{
				id: '<%= i.hash_item %>',
				title: '<%= i.title %>'
			},
		<% end %>
		],
		done: [
			<% @list.list_items.where(:status => "done").each do |i| %>
				{
					id: '<%= i.hash_item %>',
					title: '<%= i.title %>'
				},
			<% end %>
		]
};

todoLists = {
	active: [
		{
			id: 'asd',
			title: 'Lorem ipsum sit amet dolor'
		},
	],
	done: [
			{
				id: 'dsa',
				title: 'Lorem ipsum sit amet dolor'
			},
	]
}

window.addEvents({
	domready: function(){
		new AsapList(todoLists);
	}
});
<% end %>

<form id="omni-box" action="/" method="post" accept-charset="utf-8">
	<fieldset>
		<legend>Enter a task name</legend>
		<input type="text" placeholder="Enter a task name and hit Return" />
	</fieldset>

	<div class="submitCont">
		<input type="submit" value="Add to list!" />
	</div>
</form>

<form id="new-todo" class="todoList">
	<h2>Still on the tap:</h2>
	<ul id="active-todo"></ul>
	<p class="noTasks">There's nothing on the tap. Add some tasks</p>
</form> <!-- /new-todo -->

<form id="completed-todo" class="todoList">
	<h2>Completed tasks:</h2>
	<ul id="done-todo"></ul>
	<p class="noTasks">You haven't finished any tasks, yet</p>
</form> <!-- /new-todo -->
